In [5]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
import os
import warnings
warnings.filterwarnings('ignore')

In [6]:
final=pd.DataFrame()
for j in range(1,39):
  webpage=requests.get('https://www.airlinequality.com/airline-reviews/british-airways/page/{}/?sortby=post_date%3ADesc&pagesize=100'.format(j)).text
  soup=BeautifulSoup(webpage,'lxml')
  company=soup.find_all('article',itemprop="review")
  name=[]
  rating=[] 
  varified=[]
  reviews=[]
  recommand=[]
  published=[]
  country=[]
    

  for i in company:

    try:
       rating.append(i.find("div", class_ = "rating-10").span.text)
    except:
       rating.append(np.nan)

    try:
       name.append(i.find('span',itemprop="name").text.strip())
    except:
       name.append(np.nan)

#     try:
#        rating.append(i.find('div',itemprop="reviewRating").text.strip())
#     except:
#        rating.append(np.nan)
   
    try:

      varified.append(i.find('em').text.strip())
    except:
      varified.append(np.nan)

   
    try:

      reviews.append(i.find('div',class_="text_content").text.strip())
    except:
      reviews.append(np.nan)
    try:

      recommand.append(i.find('td',class_="review-value rating-no").text.strip())
    except:
      recommand.append(np.nan)
    try:

      country.append(i.find('h3').span.next_sibling.text.strip(' ()'))
    except:
      country.append(np.nan)
    try:

      published.append(i.find('time').text.strip())
    except:
      published.append(np.nan)
    
    
    

  df=pd.DataFrame({'name':name,
    'rating':rating,
    'varified':varified,
    'reviews':reviews,
    'recommanded':recommand,
    'country':country,
    'published':published
    })
  
  final=final.append(df,ignore_index=True)

In [7]:
final

,name,rating,varified,reviews,recommanded,country,published
0,Eelco van den Heuvel,6,Trip Verified,✅ Trip Verified | We chose Rotterdam and Lond...,no,Netherlands,12th April 2024
1,J Davidson,1,Trip Verified,✅ Trip Verified | The entire booking and ticke...,no,United States,10th April 2024
2,Jacki Dioguardi,1,Not Verified,Not Verified | British Airways cancelled my ...,no,United States,10th April 2024
3,Enrica H Price,10,Not Verified,Not Verified | I wanted to write this review s...,NaN,United States,7th April 2024
4,Mike Flynn,7,Trip Verified,✅ Trip Verified | Check in fast and friendly....,NaN,United Kingdom,3rd April 2024
...,...,...,...,...,...,...,...
3780,Michael Dielissen,8,NaN,YYZ to LHR - July 2012 - I flew overnight in p...,NaN,Canada,29th August 2012
3781,Nick Berry,9,NaN,LHR to HAM. Purser addresses all club passenge...,NaN,United Kingdom,28th August 2012
3782,Avril Barclay,5,NaN,My son who had worked for British Airways urge...,NaN,United Kingdom,12th October 2011
3783,C Volz,4,NaN,London City-New York JFK via Shannon on A318 b...,no,United States,11th October 2011
3784,Russ King,4,NaN,SIN-LHR BA12 B747-436 First Class. Old aircraf...,no,United Kingdom,9th October 2011

In [8]:
# saving the DataFrame as a CSV file 
british_csv_data = final.to_csv('british.csv', index = True)

In [9]:
final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3785 entries, 0 to 3784
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         3785 non-null   object
 1   rating       3780 non-null   object
 2   varified     1471 non-null   object
 3   reviews      3785 non-null   object
 4   recommanded  2260 non-null   object
 5   country      3785 non-null   object
 6   published    3785 non-null   object
dtypes: object(7)
memory usage: 207.1+ KB